.header {
    display: flex;
    justify-content: space-between;
    color: #0f65ef;
    font-weight: bold;
    font-size:15px;
}

.logo {
    width: 100px;
}

body {
    background-color: white;
}

.futatsu {
    width: 50%;
    height:50%;
}

#caption {
    font-size: 20px;
}

.shiroImg {
    border-radius: 50%;
    width: 50px;
}

a {
    color: #0f65ef;
    font-weight: bold;
}

.shiro {
    color: grey;
}

.result {
   text-align:center;
}

button {
    margin-top: 10px;
    color: blue;
    background-color: pink;
    opacity: 0.5;
    font-size: 40px;
    border-radius: 25px;
    border:5px inset green ;
    font-family: monospace;
}

button:hover {
    margin-top: 10px;
    color: blue;
    background-color: pink;
    opacity: 1;
    font-size: 40px;
    border-radius: 25px;
    border:5px outset green;
    font-family: monospace;
}

body{

    margin-left:20px;
} 

.name {
    width: 350px;
} 

.dereq {
    width: 350px;
} 

.mainq {
    width: 350px;
} 

.powerq {
    width: 350px;
} 

.genreq {
    width: 350px;
}